@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

*{
  box-sizing: border-box;
}

#light{
  background-color: #f9f9f9;
}

#dark {
  background-color: #141316;
}

:root {
 
  --neon-text-color: rgb(208, 18, 242);
  --neon-border-color: rgb(37, 23, 110);
}



.neon-sign {
  font-family: 'Exo 2', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  color: #f6a6e9;
  padding: .75rem 1rem .75rem;
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}

.neon-sign::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neon-sign::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neon-sign:focus {
  outline: none;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color),
      0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color),
      0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);
  }

  20%, 24%, 55% {
    text-shadow: 
      -0.2rem -0.2rem 0.5rem #fff,
      0.2rem 0.2rem 0.5rem #fff;

    box-shadow:
      0 0 .2rem #fff,
      inset 0 0 .2rem #fff;
  }
}






body {
  color: #ffffff;
  background-color: #383047;
  font-family: 'Source Code Pro', monospace;
}
img {
  max-width: 100%;
}
main{
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

a {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: relative;
  position: relative; /* Add position relative to the header */
  padding-bottom: 2em;
  padding-left: -10px;
  padding-right: 2em;
}

div .divider {
  height: 1px;
  width: 110%;
  background-color: #fff;
  position: absolute;
  bottom: 0; /* Adjust the position to control the spacing */
  left: -5%; /* Adjust the left position to center the line */
  z-index: -1; /* Move the divider behind other elements */
}

header a {
  text-decoration: none;
  color: inherit;

}
header a.logo {
  font-weight: bold;
  font-size: 1.5rem;

}
header nav {
  display: flex;
  gap: 15px;
  align-items: flex-end;

}



div.post {
  display: grid;

  /* grid-template-columns: 0.9fr 1.1fr; */
  gap: 20px;
  margin-bottom: 35px;

}
@media screen and (min-width: 700px) {
  div.post {
    grid-template-columns: .9fr 1.1fr;
  }
}

div.post div.texts h2 {
  margin: 0;
  font-size: 1.5rem;
}
div.post p.info {
  margin: 6px 0;
  color: #888;
  font-size: .7rem;
  font-weight: bold;
  display: flex;
  gap: 5px;

}
div.post div.texts a {
  text-decoration: none;
  color: inherit;
}

div.post p.info a.author {
  color: #333;

}
div.post p.summary{
  margin: 6px 0;
  line-height: 1.4rem;

}

form.text-editor


form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 5px;
  padding: 5px 7px;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 5px ;
  background-color: #fff;
}

button {
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px;
}
form h1 {
  text-align: center;
}

div.quill-container{
  margin-top: 100px;
  padding: 25px;
  background-color: rgb(77, 82, 159);
}
.ql-toolbar.ql-snow{
  background-color: white;
}
.ql-editor {
  background-color: white;
  color: black;
  min-height: 500px;
}
input {
  color: black;
}
.text-editor {
  
  margin: 0 auto;
}
.ql-editor {
  min-height: 100px;
}

div.visitorCounter { 
  display: flex;
  margin-top: 500px;
  
}

div.post-page div.image {
  max-height: 200px;
  display: flex;
  overflow: hidden;

}
div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a{
  color: #333;
  text-decoration: underline;
}
div.post-page h1 {
  text-align: center;
  margin: 10px 0px 5px;
}
div.post-page time {
  text-align: center;
  display: block;
  font-size: .7rem;
  color:#aaa;
}
div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
}

div.post-page div.content p{
  line-height: 1.6rem;

} 

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn {
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  
}

div.loaderContainer {
  
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  display: flex;
  margin-top: 410px;
  
}

a svg{
  height: 20px;
}